@font-face {
	font-family: DistrictThin;
	src: url('fonts/DistThin.ttf', 'fonts/DistThin.eot');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-image: url('images/background.png');
	font-family: DistrictThin, Arial, Helvetica, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 1100px;
}

header {
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	height: 113px;
	margin: 30px 0;
}

#nav {
	position: relative;
	float: right;
	top: 75px;
	right: 80px;
}

#nav .menu-item {
	display: inline;
	margin: 5px;
	font-size: 18px;
}

footer {
	background-image: url('images/footer_gradient.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 200px;
	margin-bottom: 75px;
	text-align: center;
	color: white;
}

#footer-left {
	display: inline-block;
	border-right: 5px dotted white;
	width: 300px;
	height: 200px;
	text-align: left;
}

#footer-middle {
	display: inline-block;
	border-right: 5px dotted white;
	width: 300px;
	height: 200px;
	text-align: left;
}

#footer-right {
	display: inline-block;
	width: 500px;
	height: 200px;
	text-align: left;
}