@import url(http://fonts.googleapis.com/css?family=Jura);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);


@font-face{
font-family: 'WebSymbolsRegular';
src: url('../fonts/websymbols-regular-webfont.eot');
src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/websymbols-regular-webfont.woff') format('woff'),
url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.icon {
	font-family: 'WebSymbolsRegular';
	display: inline-table;
	vertical-align: top;
	cursor: move;
}

/* general elements */

* {
font-family: 'Helvetica Neue', sans-serif;
}

* b, * strong {
font-family: 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow:hidden;

}

img {
	border:0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}


input, textarea, select {
	outline: none;
	border:0;
	background: transparent;
	padding: 0;
	font-size: 13px;
}

/* rr + menu */

header {
width:100%;
height:50px;
background: #e5e696; /* Old browsers */
background: -moz-linear-gradient(top, #e5e696 0%, #d1d360 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e696 0%,#d1d360 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #aaa;
}

header ul, header li {
margin: 0;
padding: 0;
list-style: none;
}

h1 {
	color:#000;
	display: inline;
	vertical-align: top;
	font-size: 14px;
	font-weight: 100;
	margin-top: 16px;
	float: right;
	margin-right: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#floatingBarsG {
display: inline!important;
float: left;
margin: -3px 10px 0 0;
display: none;
}

h1 b {
font-weight: 500;
padding-top: -15px;
margin: 0;
}

.logout {
cursor: pointer;
border-bottom: 2px solid transparent;
}

.logout:hover {
border-color: #000;
}

nav {
	display: inline;
}

nav ul {
	display: inline-table;
	vertical-align: top;
	height:50px;
}

nav ul li {
	display: inline-table;
	color:#999;
	font-size: 16px;
	font-weight: 100;
	cursor: pointer;
	padding:16px 16px 14px 16px;
	letter-spacing: 3px;
	height:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 1px solid #999;
}

nav ul li:last-child {
/* border-right: 0; */
}

nav ul li:hover {
background: rgba(80,80,80,.2);
color: #fff;
}

nav ul li.current {
color:#fff;
background: rgba(80,80,80,.5);
}

/* content */

#content-wrapper {
	overflow:hidden;
}

#content {
	width:4000px;
}

#content .section {
	display: inline-table;
	float: left;
	vertical-align: top;
/* 	background: rgba(243, 243, 217, 1); */
}

#content .section-container {
	border-right: 1px solid #ddd;
}

#content .section .footer {
	height:30px;
background: rgb(68,68,68); /* Old browsers */
background: linear-gradient(to bottom, rgba(68,68,68,1) 0%,rgba(68,68,68,1) 0%,rgba(51,51,51,1) 49%,rgba(42,42,42,1) 51%,rgba(0,0,0,1) 100%); /* W3C */
background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(68,68,68,1) 0%, rgba(51,51,51,1) 49%, rgba(42,42,42,1) 51%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(0%,rgba(68,68,68,1)), color-stop(49%,rgba(51,51,51,1)), color-stop(51%,rgba(42,42,42,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(68,68,68,1) 0%,rgba(51,51,51,1) 49%,rgba(42,42,42,1) 51%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(68,68,68,1) 0%,rgba(51,51,51,1) 49%,rgba(42,42,42,1) 51%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(68,68,68,1) 0%,rgba(51,51,51,1) 49%,rgba(42,42,42,1) 51%,rgba(0,0,0,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #000;
	padding-left: 5px;
}

#content .section .footer .menu .button {
	margin: 4px 10px 0 5px;
	display: inline-table;
	float: left;
	width:20px;
	height:20px;
	cursor: pointer;
}

#content .section .footer .menu .button-save {
	background-image: url(../img/icons_save.png);
}

#content .section .footer .menu .button-save:hover {
	background-image: url(../img/icons_hover_save.png);
}

#content .section .footer .menu .button-folder {
	background-image: url(../img/icons_folder.png);
}

#content .section .footer .menu .button-folder:hover {
	background-image: url(../img/icons_hover_folder.png);
}

#content .section .footer .menu .button-delete {
	background-image: url(../img/icons_delete.png);
	float: right;
	margin-right: 15px;
}

#content .section .footer .menu .button-delete:hover {
	background-image: url(../img/icons_hover_delete.png);
}

#content .section .footer .menu .button-createdoc {
	background-image: url(../img/icons_document_create.png);
}

#content .section .footer .menu .button-createdoc:hover {
	background-image: url(../img/icons_hover_document_create.png);
}
#content .section .footer .menu .button-create {
	background-image: url(../img/icons_create.png);
}

#content .section .footer .menu .button-create:hover {
	background-image: url(../img/icons_hover_create.png);
}

#content .section .footer .menu .button-settings {
	background-image: url(../img/icons_settings.png);
}

#content .section .footer .menu .button-settings:hover {
	background-image: url(../img/icons_hover_settings.png);
}

#content .section .footer .menu .button .dropdown {
	display: none;
	position: absolute;
	z-index: 999;
	background-color: #fff;
	bottom: 22px;
	box-shadow: 0 0 2px #222;
	margin-bottom: 3px;
	width:200px;
}

#content .section .footer .menu .button .dropdown ul li {
padding: 10px 4px 0px 4px;
border-bottom: 1px solid #ddd;
font-size: 13px;
font-weight: 300;
color: #222;
background-color: #fff;
}

#content .section .footer .menu .button .dropdown ul li:hover {
background-color: #eee;

}


#content .section .footer .menu .button:hover .dropdown {
	display: block;
}

/* list */

#content .list {
	overflow-y: none;
	word-wrap: break-word;
}

#content .list ul {
overflow-y: auto;
/* padding: 0 0 0 40px; */
}

#content .list ul li {
	cursor: pointer;
	padding: 12px 0px 6px 0px;
	color: #333;
	margin: 0 auto;
	color: rgb(130, 140, 140);
	font-weight: 300;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid #fff;
	font-size: 13px;
	height: 30px;
	font-weight: 100;
}

#content .list ul li .listItemImgDiv {
display:inline-table;
width:50px;
}

#content .list ul li .listItemImgDiv img {
width:40px;
}

#content .list ul li.current {
background: #f5f5f5; /* Old browsers */
background: linear-gradient(to bottom, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* W3C */
background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 50%, #eeeeee 100%, #eeeeee 100%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#ebebeb), color-stop(100%,#eeeeee), color-stop(100%,#eeeeee), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
color: #222;
}


#content .list ul li.current h6 {
word-break: break-word;
word-wrap: break-word;
font-weight: 600;
}

#content .list ul li h6 {
	font-weight: normal;
	margin: 0px;
	width:85%;
	display: inline-table;
	height:15px;
	vertical-align: top;
	font-size:13px;
	padding: 3px 0px 0 30px;
	word-break: break-word;
	word-wrap: break-word;
	font-weight: 300;
	font-size: 13px;
}

#content .list ul li .icon {
width:25px;
height:22px;
/* background:red; */
position:absolute;
float:left;
display:inline;
margin-left:-37px;
}

#content .list ul li .pubstate {
	width:20px;
	height:20px;
	background-size: 20px;
	-moz-background-size: 20px;
	position: relative;
	float: right;
	margin-right: 10px;
	background-position: top right;
}

#content .list ul li .state-0 {
background: url('../img/icon_unpublished.png');
}


#content .list ul li .state-1 {
/* background: url('../img/icon_published.png'); */
}

#content .list ul li h6.icon-doc {
display: inline;
background: url('../img/icon_document.png') 2px -3px;
background-repeat: no-repeat;
}
#content .list ul li h6.icon-folder {
background: url('../img/icon_folder.png') 2px -3px;
background-repeat: no-repeat;
}
#content .list ul li h6.icon-cat {
background: url('../img/icon_category.png') 2px -3px;
background-repeat: no-repeat;
}
#content .list ul li h6.icon-library {
background: url('../img/icon_media.png') 2px -3px;
background-repeat: no-repeat;
}

#content .list ul li h6.icon-image {
background: url('../img/icon-image.png');
background-repeat: no-repeat;
background-position: center 5px;
}

#content .list ul li .cat {
	color: #BE1622;
}

#content .list ul .li-mediaItem {
background-repeat: no-repeat;
background-position: 2px 10px;
background-size: 40px;
-moz-background-size: 40px;
height:60px;
padding-left: 60px;
}


#content .list .showmore {
padding: 8px 5px;
cursor: pointer;
}

.showmore-browser {
color: #fff;
cursor: pointer;
width:100%;
display: inline-table;
}

.showmore-browser:hover {
text-decoration: underline;
}

#content .list .showmore:hover {
background-color: #eee;
}

/* page */


h2 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 20px;
	display: inline-table;
	width:500px;
}

span.icon {
	padding: 0;
	margin: 0 10px 0 0;
	text-align: left;
}

.section-container {
	overflow-y: auto;
}

#document-container,
#mediaitem-container {
padding: 20px;
background: #f5f5f5; /* Old browsers */
background: linear-gradient(to right, #f5f5f5 0%,#fcfcfc 10%,#fcfcfc 90%,#f5f5f5 100%); /* W3C */
background: -moz-linear-gradient(left, #f5f5f5 0%, #fcfcfc 10%, #fcfcfc 90%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(10%,#fcfcfc), color-stop(90%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f5f5f5 0%,#fcfcfc 10%,#fcfcfc 90%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f5f5f5 0%,#fcfcfc 10%,#fcfcfc 90%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f5f5f5 0%,#fcfcfc 10%,#fcfcfc 90%,#f5f5f5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
height: 100%;
}

#mediaitem-container {
margin:0 auto;
}

.mediaItemFull {
max-width:600px;
max-height:700px;
}

#main-3 input[type=text], #main-3 textarea {
	outline: none;
	width:100%;
	padding: 0px;
	font-size: 14px;
}


#main-3 textarea {
	width:100%;
	height:300px;
}

#publishdate input {
/*
	border-right: 1px solid #777;
	margin-right: 5px;
*/
}


		/* properties list */
		.properties-head {
		width:auto;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: normal;
		margin: 20px 0 10px 0;
		letter-spacing: 2px;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		font-weight: 300;
		color: #888;
		}

		.properties-head-title {
		display: inline-table;
		}

		.properties-list {
			border: 1px solid #ddd;
			border-radius: 2px;
			background: rgba(255,255,255,.7);
		}

		.properties-list li:empty .properties-list {
		display: none;
		}

		.properties-list a {
		}

		.properties-list li {
			padding: 7px 10px;
			border-bottom: 1px solid #ddd;
			font-size: 14px;
			cursor: pointer;
			font-weight: 300;
		}

		.properties-list li * {
			font-weight: 300;
		}

		.properties-list li:first-child {
		border-radius: 3px 3px 0 0;
		}

		.properties-list li:last-child {
		border-radius:  0 0 3px 3px;
		}

		.properties-list li:only-child {
		border-radius: 3px;
		}

		.properties-list li:hover {
		/*background-color: rgba(0,0,0,.03); */
		}

		.properties-list li:last-child {
		border-bottom: 0;
		}

		.properties-list li div {
		display: inline-table;
		vertical-align: top;
		}

		.properties-list li div a:hover {
		border-bottom: 1px dashed #222;
		}

		.properties-list li .label {
		width:70px;
		padding: 3px 10px;
		font-weight: normal;
		font-size: 9px;
		letter-spacing: 1px;
		color: #666;
		text-align: right;
		text-transform:uppercase;
		}

		.properties-list li .value,
		.properties-list li .value a {
		}
		/* end properties list */


#dochead #doc-title-container,
#dochead #coverImage {
display: inline-table;
vertical-align: top;
}

.imageHolder {
cursor: pointer;
}

.imageHolder:hover {
}

#coverImage {
display: inline-table;
margin: 0 20px 0px 0;
vertical-align:top;
text-align:center;
background-color: #ddd;
border-radius: 50%;
width: 115px;
height:114px;
background-size:cover;
}

#imagePickerHolder {
width:500px;
height:320px;
background:rgba(0,0,0,1);
position:absolute;
margin:0px 0 0 5px;
border-radius:5px;
box-shadow:0 0 5px #222;
padding: 0px;
display: none;
}

#imagePicker {
width:500px;
height:320px;
overflow-x: hidden;
overflow-y: auto;
margin: 0 auto;
}

#imagePicker .mediaItem {
display: inline-block;
float: left;
border-spacing: 1px;
border:2px solid transparent;
cursor: pointer;
margin: 0 auto;
text-align: center;
width: 70px;
height:70px;
padding: 2px;
vertical-align: middle;
background-size: contain;
background-repeat: no-repeat;
background-position: 50% 50%;
position: relative;
}

#imagePicker .mediaItem:hover {
border-color: yellow;
}

#imagePicker .mediaItem img {
max-width:70px;
max-height:70px;
box-shadow: 0 0 5px #000;
}

.gallery {

}

.gallery .item {
	display: inline;
	position: relative;
	float: left;
	margin: 5px;
	height: 150px;
	cursor: move;
	padding: 5px;
	text-align: center;
}

.gallery .item:hover .remove {
visibility: visible;
}

.gallery .item .remove {
position: relative;
visibility: hidden;
float:left;
margin: 0px 0 0 -10px;
font-family: 'WebSymbolsRegular';
font-size: 18px;
color:red;
text-shadow: 0 0 2px #150606;
cursor: pointer;
}

.gallery .item .remove:hover {
color:#ab2323;
}

.gallery .item img.selecteditem {
	border: 3px solid #f1f119;
}

.gallery .item img {
	box-shadow: 0 0 4px #222;
	height: 140px;
	border: 3px solid transparent;
}

.add-media, .upload-media {
width:150px;
margin-top: -20px;
display:inline;
float:left;
vertical-align: top;
color:#444;
cursor: pointer;
z-index: 1000;
float: right;
position: fixed;
}

.add-media {
	right:0px;
}

.upload-media {
	right:170px;
}

.add-media:hover, .uploads-media:hover {
color:#26b961;
}

.add-media .icon, .upload-media .icon {
font-family: 'WebSymbolsRegular';
font-size: 24px;
vertical-align: middle;
cursor: pointer;
}

.add-media .text, .upload-media .text {
margin-top: 5px;
}

/* media browser */
#mediaBrowser,
#uploadScreen {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 850px;
      height: 450px;
      margin-left: -425px; /* half of width */
      margin-top: -225px;  /* half of height */
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 0 5px #000;
      z-index: 99999999!important;
}

#addVideoStream {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 250px;
      height: 200px;
      margin-left: -125px; /* half of width */
      margin-top: -100px;  /* half of height */
      background-color: rgba(10,10,10, .9);
      border-radius: 5px;
      box-shadow: 0 0 5px #000;
	  color: #ccc;
}

#addVideoStream #media-tabs {
width: 250px;
height: auto;
}

#mediaBrowser .header,
#mediaBrowser .footer,
#uploadScreen .header,
#uploadScreen .footer,
#addVideoStream .header,
#addVideoStream .footer {
background: #000;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */height:25px;
padding-top: 9px;
}

#mediaBrowser .header,
#uploadScreen .header,
#addVideoStream .header {
text-align: center;
border-radius: 5px 5px 0 0;
cursor: move;
border-bottom: 1px solid #333;
}

#mediaBrowser .footer,
#uploadScreen .footer {
position: relative;
top:383px;
border-radius: 0 0 5px 5px;
border-top: 1px solid #111;
}

#addVideoStream .footer {
	position: relative;
	top: 160px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #111;
}

#mediaBrowser .header h3,
#uploadScreen .header h3,
#addVideoStream .header h3 {
margin:0;
color:#fff;
font-size: 12px;
font-weight: normal;
letter-spacing: 4px;
}

#mediaBrowser .mediaItem,
#mediaBrowser .mediaItemInactive {
	position: relative;
	display: inline;
	float: left;
	margin: 0 10px 20px 10px;
	width:130px;
	height:130px;
	cursor: pointer;
	text-align: center;
	background-position: 50% 50%;
	background-size:contain;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#mediaBrowser .mediaItemInactive {
opacity: .25;
}

#uploadScreen button,
#mediaBrowser button,
#addVideoStream button,
#loginWindow button,
.plupload_button {
	padding: 5px 10px;
	box-shadow: 0 0 3px #000;
	background: #444;
	color:#ccc;
	border: 0;
	z-index: 9999;
	position: relative;
	margin: -3px 15px 0 0;
	cursor: pointer;
	letter-spacing: 1px;
}

#uploadScreen button,
#mediaBrowser button,
#addVideoStream button {
float: right;
}

#addVideoStream #media-tabs button {
float: left;
}

#loginWindow button {
float: left;
background: #ccc;
}

#uploadScreen button:hover,
#mediaBrowser button:hover,
#addVideoStream button:hover,
.plupload_button,
#loginWindow button:hover {
background: #999;
}

#addVideoStream input {
	background-color: #444;
	color: #ccc;
	border: 1px solid #666;
	padding: 5px 10px;
	box-shadow: 0 0 3px #000;
	margin-bottom: 20px;
}

#addVideoStream p {
	margin: 0;
	padding: 0;
}

#login-footer {
font-size: 10px;
margin-top: 7px;
color: #eee;
}

.activated {
	border: 2px solid #f1f119!important;
}

/* login screen */
    #loginWindow {
    padding: 10px 10px 0 10px;;
    margin: 50px auto;
    width:400px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -200px;
    margin-top: -90px;
    height:160px;
	color:#000;
background: #e5e696; /* Old browsers */
background: -moz-linear-gradient(top, #e5e696 0%, #d1d360 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e696 0%,#d1d360 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

color: #222;
box-shadow: 0 0 5px #222;
    }

    #loginWindow * {
	    color: #000!important;
    }

    #loginWindow #title {
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0;
    }

    #loginWindow input, #loginWindow select {
	border: 1px solid #999;
    border-radius: 3px;
    width:95%;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
    background: #fff;
    }


/* end login screen */


/* Jquery UI
-----------------------------------------------*/

/* document tabs */
#document-tabs .ui-tabs {
	padding:0;
	margin: 0;
}

#document-tabs .ui-tabs-nav {
position: fixed;
background: #f5f5f5; /* Old browsers */
background: linear-gradient(to bottom, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* W3C */
background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 50%, #eeeeee 100%, #eeeeee 100%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#ebebeb), color-stop(100%,#eeeeee), color-stop(100%,#eeeeee), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f5f5 0%,#ebebeb 50%,#eeeeee 100%,#eeeeee 100%,#f5f5f5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #ccc;
width:100%;
margin: -36px 0 0 -20px;
padding: 5px 15px 0 15px;
z-index: 999;
}

#document-tabs .ui-tabs-nav li {
	padding:6px 0;
	border-right:0;
	margin: 5px 10px 20px 10px;
	border-bottom: 3px solid transparent;
	}

#document-tabs .ui-tabs-nav li:hover {
/* 	background-color:#eee; */
}

#document-tabs .ui-tabs-nav li:first-child {

}

#document-tabs .ui-tabs-nav li:last-child {

}

#document-tabs .ui-tabs-nav li:only-child,
#document-tabs .ui-tabs-nav li.ui-tabs-selected:only-child {
/* 	display:none; */
}

#document-tabs .ui-tabs-nav li a {
	color:#222222;
}

#document-tabs .ui-tabs-nav li.ui-tabs-selected {
border-bottom: 3px solid #000;
font-weight: 500;
}

/* -- end document tabs */


/* media browser tabs */

#media-tabs {
padding: 0 20px;
height:350px;
overflow-y: auto;
margin: -15px auto;
width: 90%;
}

/* ui tabs general */

.ui-tabs {
	margin: 0;
	padding: 0;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	list-style:none;
}


.ui-tabs .ui-tabs-nav li {
	float:left;
}

.ui-tabs .ui-tabs-nav li:hover {
}


.ui-tabs .ui-tabs-nav li a {
	text-decoration:none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	display:block;

}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor:pointer;
}

.ui-tabs .ui-tabs-hide {
	display:none!important;
}

/* -- end ui tabs general */


/*
Modal
*/

.modalOverlay {
-webkit-backface-visibility: hidden;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0.449219);
background-image: none;
background-origin: padding-box;
display: block;
font-family: HelveticaNeue, Helvetica, Arial;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
left: 0px;
line-height: normal;
overflow-x: visible;
position: fixed;
top: 0px;
width: 100%;
height: 100%;
z-index: 999999;
}

.modalWindow {
-webkit-animation-delay: 0s;
-webkit-animation-direction: normal;
-webkit-animation-duration: 1s;
-webkit-animation-fill-mode: both;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: bounce;
-webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
-webkit-backface-visibility: visible;
-webkit-box-shadow: rgb(255, 255, 255) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.878906) 0px 1px 140px 0px;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
background-attachment: scroll;
background-clip: border-box;
background-color:
rgba(0, 0, 0, 0);
background-image: linear-gradient(to bottom, rgb(252, 252, 252) 0%, rgb(207, 207, 208) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(252, 252, 252)), color-stop(1, rgb(207, 207, 208)));
background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(207, 207, 208));
background-image: -moz-linear-gradient(top, rgb(252, 252, 252) 0%, rgb(207, 207, 208) 100%);
background-image: -ms-linear-gradient(top, rgb(252, 252, 252) 0%, rgb(207, 207, 208) 100%);
background-image: -o-linear-gradient(top, rgb(252, 252, 252) 0%, rgb(207, 207, 208) 100%);
background-origin: padding-box;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-shadow: rgb(255, 255, 255) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.878906) 0px 1px 140px 0px;
display: block;
font-family: HelveticaNeue, Helvetica, Arial;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 470px;
left: 50%;
line-height: normal;
margin-left: -410px;
margin-top: -195px;
overflow-x: visible;
position: absolute;
top: 45%;
width: 820px;
}

.modalWindow h2 {
-webkit-backface-visibility: visible;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
display: block;
font-family: HelveticaNeue, Helvetica, Arial;
font-size: 45px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 55px;
line-height: normal;
margin-top: 0px;
overflow-x: visible;
width: 700px;
margin: 20px;
}

.modalWindow input {
-webkit-appearance: none;
-webkit-backface-visibility: visible;
-webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px, rgba(0, 0, 0, 0.347656) 0px 4px 5px -5px inset;
-webkit-rtl-ordering: logical;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
-webkit-user-select: text;
background-attachment: scroll;
background-clip: border-box;
background-color:
rgba(0, 0, 0, 0);
background-image: -webkit-linear-gradient(top,
rgba(255, 255, 255, 0.199219),
white);
background-origin: padding-box;
border-bottom-color: rgb(187, 187, 187);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color:
rgb(187, 187, 187);
border-left-style: solid;
border-left-width: 1px;
border-right-color:
rgb(187, 187, 187);
border-right-style: solid;
border-right-width: 1px;
border-top-color:
rgb(187, 187, 187);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px, rgba(0, 0, 0, 0.347656) 0px 4px 5px -5px inset;
box-sizing: border-box;
color:
rgb(136, 136, 136);
cursor: auto;
display: block;
font-family: HelveticaNeue, Helvetica, Arial;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 40px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
padding-bottom: 1px;
padding-left: 10px;
padding-right: 10px;
padding-top: 1px;
position: static;
text-align: -webkit-auto;
text-indent: 0px;
text-shadow: none;
text-transform: none;
width: 780px;
margin: 20px;
word-spacing: 0px;
}

.modalWindow .button-confirm {
-webkit-appearance: none;
-webkit-backface-visibility: visible;
-webkit-box-align: center;
-webkit-box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
background-color:
rgb(167, 214, 99);
background-image: -webkit-linear-gradient(top,
rgba(0, 0, 0, 0),
rgba(0, 0, 0, 0.199219));
border-bottom-color:
rgba(0, 0, 0, 0.398438);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color:
rgba(0, 0, 0, 0.398438);
border-left-style: solid;
border-left-width: 1px;
border-right-color:
rgba(0, 0, 0, 0.398438);
border-right-style: solid;
border-right-width: 1px;
border-top-color:
rgba(0, 0, 0, 0.398438);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
box-sizing: border-box;
color:
rgba(255, 255, 255, 0.847656);
cursor: pointer;
display: block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
padding-bottom: 14px;
padding-left: 20px;
padding-right: 20px;
padding-top: 14px;
position: relative;
text-align: center;
text-indent: 0px;
text-shadow:
rgba(0, 0, 0, 0.496094) 0px 1px 2px;
text-transform: none;
width: 150px;
margin: 20px 0 20px 20px;
height: 45px;
word-spacing: 0px;
display: inline;

}

.modalWindow .button-cancel {
-webkit-appearance: none;
-webkit-backface-visibility: visible;
-webkit-box-align: center;
-webkit-box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 1px;
background-color:
rgb(250, 65, 65);
background-image: -webkit-linear-gradient(top,
rgba(0, 0, 0, 0.296875),
rgba(0, 0, 0, 0.496094));
border-bottom-color:
rgba(0, 0, 0, 0.398438);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color:
rgba(0, 0, 0, 0.398438);
border-left-style: solid;
border-left-width: 1px;
border-right-color:
rgba(0, 0, 0, 0.398438);
border-right-style: solid;
border-right-width: 1px;
border-top-color:
rgba(0, 0, 0, 0.398438);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px 0px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
box-sizing: border-box;
color:
rgba(255, 255, 255, 0.847656);
cursor: pointer;
display: block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
padding-bottom: 14px;
padding-left: 20px;
padding-right: 20px;
padding-top: 14px;
position: relative;
text-align: center;
text-indent: 0px;
text-shadow:
rgba(0, 0, 0, 0.496094) 0px 1px 2px;
text-transform: none;
width: 150px;
margin: 20px 0 20px 20px;
height: 45px;
word-spacing: 0px;
display: inline;
}

.video-play {
    width: 60px;
    height:60px;
	background-image: url(../img/video-play.png);
	background-repeat: no-repeat;
	position: absolute;
    top:50%;
    left:50%;
    margin-left: -30px;
    margin-top: -40px;
}

.itemimage {
    width: 150px;
    height:120px;
    background-position: 50% 50%;
    vertical-align: top;
    display: inline-block;
    background-size:contain;
    background-repeat: no-repeat;
}

input[type="file"] {
	width:0;
	height:0;
	display: none;
}

#uploads-progress {
	position: fixed;
	top:50%;
	left:50%;
	width: 600px;
	margin-left: -300px;
	height:400px;
	margin-top: -200px;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	z-index: 11;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display: none;
}

#uploads-progress .loader {
	width: 66px;
	height:66px;
	position: absolute;
	left: 50%;
	top:50%;
	margin: -33px 0 0 -33px;
}

#uploads-progress h2 {
	font-size: 24px;
	margin: 10px auto 10px auto;
	text-align: center;
	width: 600px;
	font-weight: 100;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

#uploads-progress h3 {
	font-size: 48px;
	margin: 10px auto 10px auto;
	text-align: center;
	width: 600px;
	top:50%;
	position: absolute;
	margin-top: -24px;
	font-weight: 100;
	color: #fff;
}

#floatingBarsG{
position:relative;
width:20px;
height:25px;
}

.blockG{
position:absolute;
background-color:#ffffff;
width:3px;
height:8px;
-moz-border-radius:3px 3px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.5599999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:3px 3px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.5599999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:3px 3px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.5599999999999999s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:3px 3px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.5599999999999999s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:3px 3px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.5599999999999999s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:9px;
-moz-animation-delay:0.20999999999999996s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.20999999999999996s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.20999999999999996s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.20999999999999996s;
-o-transform:rotate(-90deg);
animation-delay:0.20999999999999996s;
transform:rotate(-90deg);
}

#rotateG_02{
left:3px;
top:3px;
-moz-animation-delay:0.27999999999999997s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.27999999999999997s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.27999999999999997s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.27999999999999997s;
-o-transform:rotate(-45deg);
animation-delay:0.27999999999999997s;
transform:rotate(-45deg);
}

#rotateG_03{
left:8px;
top:1px;
-moz-animation-delay:0.35s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.35s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.35s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.35s;
-o-transform:rotate(0deg);
animation-delay:0.35s;
transform:rotate(0deg);
}

#rotateG_04{
right:3px;
top:3px;
-moz-animation-delay:0.41999999999999993s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.41999999999999993s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.41999999999999993s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.41999999999999993s;
-o-transform:rotate(45deg);
animation-delay:0.41999999999999993s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:9px;
-moz-animation-delay:0.48999999999999994s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.48999999999999994s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.48999999999999994s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.48999999999999994s;
-o-transform:rotate(90deg);
animation-delay:0.48999999999999994s;
transform:rotate(90deg);
}

#rotateG_06{
right:3px;
bottom:2px;
-moz-animation-delay:0.5599999999999999s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.5599999999999999s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.5599999999999999s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.5599999999999999s;
-o-transform:rotate(135deg);
animation-delay:0.5599999999999999s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:8px;
-moz-animation-delay:0.63s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.63s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.63s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.63s;
-o-transform:rotate(180deg);
animation-delay:0.63s;
transform:rotate(180deg);
}

#rotateG_08{
left:3px;
bottom:2px;
-moz-animation-delay:0.7s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:0.7s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:0.7s;
-ms-transform:rotate(-135deg);
-o-animation-delay:0.7s;
-o-transform:rotate(-135deg);
animation-delay:0.7s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#ffffff}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#ffffff}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#ffffff}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#ffffff}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#ffffff}

} - See more at: http://cssload.net/#sthash.O3ns6Zgx.dpuf